<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{deportista.nombres}} {{deportista.apellidos}}">
  <ion-content class="padding">
    <h3>{{deportista.nombres}} {{deportista.apellidos}}</h3>
    <img ng-if="deportista.foto" ng-src="{{deportista.foto}}" style="width: 64px; height: 64px">
    <img ng-hide="deportista.foto" ng-src="img/depor_default.png" style="width: 64px; height: 64px">
    <p>
      {{deportista.identificacion}}
    </p>
  </ion-content>
</ion-view>
