<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{deportista.nombres}} {{deportista.apellidos}}">
  <ion-content class="padding">
    <div class="row">
      <div class="col col-50">
        <h3 align="center">{{deportista.nombres}} {{deportista.apellidos}}</h3>
      </div>
      <div ng-if="editable">
        <div class="col">
          <button class="button button-positive">
            <i class="icon ion-edit"></i>
          </button>
        </div>
        <div class="col">
          <button ng-if="activado == false" class="button button-energized" ng-click="cambioEstado(deportista.id)">
            <i class="icon ion-trash-a"></i>
          </button>
          <button ng-if="activado == true" class="button button-balanced" ng-click="cambioEstado(deportista.id)">
            <i class="icon ion-checkmark-circled"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img ng-if="deportista.foto" ng-src="{{deportista.foto}}" style="width: 80px; height: 80px">
        <img ng-hide="deportista.foto" ng-src="img/depor_default.png" style="width: 80px; height: 80px">
      </div>
      <div class="col col-75">
        <p>
          <b>Entidad:</b> {{deportista.entidad | uppercase}}<br>
          <b>Identificación:</b> {{deportista.identificacion}}<br>
          <b>Tipo de Identificación:</b> {{deportista.tipo_id}}<br>
          <b>Genero:</b> {{deportista.genero}}<br>
          <b>Fecha Nacimiento:</b> {{deportista.fecha_nacimiento}}

        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
