<ion-view view-title="Iniciar Sesion">

	<ion-content>
		<br>
		<div class="centro">
		<img src="img/LogoSND.png" alt="Loo del SIND" style="display:inline-block;">
		<h3 class="title">Bienvenido a la aplicación móvil para interacción REST con SIND COLDEPORTES</h3>
		<p>
		Esta aplicación es un proyecto desarrollado por Daniel Correa, estudiante de la Universidad del Valle, Colombia, para probar la comunicación interoperable bajo el protocolo REST de un servidor Django desplegado bajo el proyecto SIND COLDEPORTES y una aplicación móvil desarrollada con Apache Cordova (Angular JS)
		</p>
		<br>
		</div>
		<div class="list list-inset">
		<form ng-submit="vm.funciones.ingreso()" id="form-ingreso">
			<label class="item item-input item-stacked-label">
        <span class="input-label bold">Nombre de Usuario</span>
      </label>
			<div class="item item-input">
        <input type="text" placeholder="Nombre Usuario" required ng-model="vm.usuario.username">
      </div>
			<label class="item item-input item-stacked-label">
        <span class="input-label bold">Contraseña</span>
      </label>
			<div class="item item-input">
        <input type="password" placeholder="Contraseña" required ng-model="vm.usuario.password">
      </div>
			<label class="item item-input item-stacked-label">
        <span class="input-label bold">Entidad</span>
      </label>
			<div class="item item-input">
        <input type="text" placeholder="Entidad" required ng-model="vm.usuario.entidad">
      </div>
		  <br>
			<div class="centro">
		  	<input class="button button-dark" type="submit" value="Ingresar">
			</div>
		</form>
		</div>
	</ion-content>
</ion-view>
