<ion-view view-title="Listado Deportistas">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="depor in deportistas" type="item-text-wrap">
        <img ng-if="depor.foto" ng-src="{{depor.foto}}" width="40px" height="40px">
        <img ng-hide="depor.foto" ng-src="img/depor_default.png" width="40px" height="40px">
        <h2>{{depor.nombres}} {{depor.apellidos}}</h2>
        <p>{{depor.tipo_id}} : {{depor.identificacion}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Editar
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
