<ion-view view-title="Registro Deportista">
  <ion-content>
    <div style="margin:20px;">
      <img src="img/LogoPais.png" alt="Logo Pais" width="150" style="margin-left:20px">
      <img src="img/LogoColdeportes.png" alt="Logo Coldeportes" width="160" style="margin-left:25px">
      <h3 align="center">Información del Deportista</h3>
    </div>

    <div class="list list-inset">
      <form id="form-deportista" ng-submit="vm.funciones.index()">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Nombres</span>
          <input type="text" placeholder="Nombres" ng-model="vm.deportista.nombres">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Apellidos</span>
          <input type="text" placeholder="Apellidos" ng-model="vm.deportista.apellidos">
        </label>
        <label class="item item-input item-select">
          <span class="input-label">Genero</span>
          <div>
            <select ng-model="vm.deportista.genero">
              <option value="MUJER">FEMENINO</option>
              <option value="HOMBRE">MASCULINO</option>
            </select>
          </div>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Tipo Identificación</span>
          <input type="text" placeholder="Tipo Documento" ng-model="vm.deportista.tipo_id">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Identificación</span>
          <input type="text" placeholder="Identificación" ng-model="vm.deportista.identificacion">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Fecha de Nacimiento</span>
          <input type="text" placeholder="Formato de fecha yyyy-mm-dd" ng-model="vm.deportista.fecha_nacimiento">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Video</span>
          <input type="url" placeholder="Url del video youtube" ng-model="vm.deportista.video">
        </label>
        <label class="item item-input item-select">
          <span class="input-label">Disciplinas Deportivas</span>
          <select ng-model="vm.deportista.disciplinas" multiple="true" ng-multiple="true">
            <option value="Ciclismo">Ciclismo</option>
            <option value="Voleibol">Voleibol</option>
            <option value="Natación">Natación</option>
            <option value="Patinaje">Patinaje</option>
            <option value="Fútbol">Fútbol</option>
          </select>
        </label>
        <label class="item item-input item-select">
          <span class="input-label">Nacionalidad</span>
          <select ng-model="vm.deportista.nacionalidad" multiple="true" ng-multiple="true">
            <option value="Colombia">Colombia</option>
            <option value="España">España</option>
            <option value="Argentina">Argentina</option>
            <option value="Albania">Albania</option>
            <option value="Andorra">Andorra</option>
          </select>
        </label>
        <!--label class="item item-input item-stacked-label">
          <span class="input-label">Foto</span>
          <div>
            <input type="file" ng-model="vm.deportista.foto">
          </div>
        </label-->
        <label class="item item-input item-stacked-label">
          <span class="input-label">Telefono</span>
          <input type="text" placeholder="Telefono" ng-model="vm.deportista.telefono">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Dirección</span>
          <input type="text" placeholder="Direccioón" ng-model="vm.deportista.direccion">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Email</span>
          <input type="text" placeholder="john@suhr.com" ng-model="vm.deportista.email">
        </label>
        <label class="item item-input item-select">
          <span class="input-label">Ciudad</span>
          <select ng-model="vm.deportista.ciudad_residencia">
            <option value="Acacías">Acacías</option>
            <option value="Abriaquí">Abriaquí</option>
            <option value="Aberrojal">Aberrojal</option>
            <option value="Medellin">Medellín</option>
            <option value="Santiago de Cali">Santiago de Cali</option>
          </select>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Barrio</span>
          <input type="text" placeholder="Barrio" ng-model="vm.deportista.barrio">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Comuna</span>
          <input type="text" placeholder="Comuna" ng-model="vm.deportista.comuna">
        </label>
        <label class="item item-input item-select">
          <span class="input-label">Etnia</span>
          <select ng-model="vm.deportista.etnia">
            <option value="MESTIZO">MESTIZO</option>
            <option value="AFROCOLOMBIANO">AFROCOLOMBIANO</option>
            <option value="BLANCO">BLANCO</option>
            <option value="COLOMBOINDIGENA">COLOMBOINDIGENA</option>
            <option value="GITANO">GITANO</option>
            <option value="PALENQUERO">PALENQUERO</option>
            <option value="RAIZAL">RAIZAL</option>
          </select>
        </label>
          <ion-checkbox type="checkbox" ng-model="vm.deportista.lgtbi"> LGTBI? </ion-checkbox>
          <div class="button-bar bar-positive">
            <button class="button button-positive" type="submit">Registrar <i class="ion-plus-circled"></i></button>
          </div>
      </form>
    </div>
  </ion-content>
</ion-view>
