<ion-view view-title="Listado Deportistas">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="depor in deportistas" type="item-text-wrap">
        <img ng-if="depor.foto" ng-src="{{depor.foto}}" width="40px" height="40px">
        <img ng-hide="depor.foto" ng-src="img/depor_default.png" width="40px" height="40px">
        <h2>{{depor.nombres}} {{depor.apellidos}}</h2>
        <p>{{depor.tipo_id}} : {{depor.identificacion}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <button ng-if="anterior" class="button button-energized" ng-click="getPage(anterior)">
        Atras
      </button>
      <button ng-if="despues" class="button button-balanced" ng-click="getPage(despues)">
        Siguiente
      </button>
    </ion-list>
  </ion-content>
</ion-view>
