<ion-view view-title="Listado Deportistas">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="depor in deportistas" type="item-text-wrap">
        <img ng-if="depor.foto" ng-src="{{depor.foto}}" width="40px" height="40px">
        <img ng-hide="depor.foto" ng-src="img/depor_default.png" width="40px" height="40px">
        <h2>{{depor.nombres}} {{depor.apellidos}}</h2>
        <p>{{depor.tipo_id}} : {{depor.identificacion}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <div class="button-bar bar-stable">
        <button ng-if="anterior" class="button button-calm" ng-click="getPage(anterior)">
          <i class="ion-chevron-left"></i> Atras
        </button>
        <button ng-if="despues" class="button button-positive" ng-click="getPage(despues)">
          Siguiente <i class="ion-chevron-right"></i>
        </button>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
